<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ssu.jnn.cs470final" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".mainMenu"
            android:label="@string/app_name" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.AIzaSyAKqPzfwpK5qFfPi2UKxVvk7iq1V7O5fLg"
            android:value="AIzaSyAKqPzfwpK5qFfPi2UKxVvk7iq1V7O5fLg" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".infoScreen"
            android:label="@string/title_activity_info_screen" >
        </activity>
        <activity
            android:name=".commentView"
            android:label="@string/title_activity_comment_view" >
        </activity>
        <activity
            android:name=".mainMap"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".preferences"
            android:label="@string/title_activity_preferences" >
        </activity>
        <activity
            android:name=".addMarker"
            android:label="@string/title_activity_add_marker" >
        </activity>
        <activity
            android:name=".signUp"
            android:label="@string/title_activity_sign_up" >
        </activity>
        <activity
            android:name=".loginPage"
            android:label="@string/title_activity_login_page" >
        </activity>
        <activity
            android:name=".addComment"
            android:label="@string/title_activity_add_comment" >
        </activity>
    </application>

</manifest>
